<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
<key>items</key>
<array>
<dict>
<key>assets</key>
<array>
<dict>
<key>kind</key>
<string>software-package</string>
<key>url</key>
<string>https://download853.mediafire.com/p3jwzaumrfdgqXFJ27Hm1uzRMvZTRVBmuSScjJtBGdbQzLwP_vCwATuqUf44EnqRLbBStJBaSSfWtnZZn0FeE7r6YeGDLRgKvSBnVcw8ehUcy2E5U4R2FpEgLe2lM9D3B_oJhgawJqm8EB6rSJZgeuNrHWLBeiMqj7n3oDGIeg/a9fruvm98vrcl9o/ibox.ipa</string>
</dict>
</array>
<key>metadata</key>
<dict>
<key>bundle-identifier</key>
<string>com.troi.iBox</string>
<key>bundle-version</key>
<string>2.6.8</string>
<key>kind</key>
<string>software</string>
<key>subtitle</key>
<string>下载</string>
<key>title</key>
<string>IBOX</string>
</dict>
</dict>
</array>
</dict>
</plist>
